.box-title-cart {
	width: 85%;
	margin: auto;
	margin-top: 4em;
	display: flex;
	flex-flow: column;
	align-items: center;
	border-bottom: 1px solid #ededed;
	margin-bottom: 2em;
}

.title-cart {
	text-transform: uppercase;
	font-size: 2.25em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
	margin: 0 0 0.5em;
	line-height: 1.4;
	color: #000;
}

.container-car-itens {
	width: 100%;
	margin: auto;
	background: #f8f8f8;
	display: flex;
	flex-flow: column;
	box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
}

.box-header-car {
	width: 95%;
	margin: auto;
	height: 3.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box-left-header {
	width: 5em;
}

.box-right-header {
	display: flex;
	width: 24em;
	justify-content: space-between;
}

.text-box-reader {
	color: #a3a3a3;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .15em;
}

.box-itens-car {
	width: 95%;
	border-top: 1px solid #e7e7e7;
	margin: auto;
	display: flex;
	padding-top: 1em;
	padding-bottom: 1em;
	justify-content: space-between;
}

.left-box-itens {
	width: 40em;
	display: flex;
	align-items: center;
}

.right-box-items {
	display: flex;
	width: 24em;
	justify-content: space-between;
	align-items: center;
}

.text-inform-itens {
	color: #111;
	font-weight: bold;
	font-size: .9em;
	font-family: "Lato", sans-serif;
}

.btns-box-car {
	display: flex;
	width: 7em;
	justify-content: space-between;
	align-items: center;
}

.box-btn {
	color: #4f4f4f;
	font-weight: 400;
	border: 2px solid #b8b8b8;
	width: 1.6em;
	height: 1.4em;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.img-car-itens {
	height: 8em;
	width: 7em;
}

.name-product-car {
	text-align: left;
	line-height: 1.3;
	font-size: .9em;
	width: 31em;
	color: #334862;
	margin-left: 1em;
	font-family: "Lato", sans-serif;
}

.qtn-car {
	width: 2em;
	background-color: transparent;
	height: 2em;
	border: 2px solid #b8b8b8;
	width: 3.2em;
	text-align: center;
	height: 1.5em;
}

.simbol-box {
	margin: auto;
	font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.container-resume-cart {
	width: 100%;
	margin-top: 3em;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
}

.box-full-cart {
	width: 85%;
	margin: auto;
}

.inform-text-cart {
	font-size: 1.25em;
	font-weight: bolder;
	align-items: center;
	display: flex;
	border-bottom: 1px solid #edeee8;
	width: 23em;
	justify-content: space-between;
	margin-right: 1em;
}

.details-text-cart {
	font-weight: 100;
	font-size: 0.9em;
}

.btn-page-cart {
	width: 15em;
	display: flex;
	align-items: center;
	padding-left: .4em;
}

.btn-page-check {
	width: 9em;
	height: 2.9em;
	border: 2px solid #D8D8D8;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.btn-page-check spam {
	color: #848484;
}

.btns-page-cart {
	display: flex;
	width: 28em;
	justify-content: space-around;
	margin-top: 1em;
}

.box-cart-emprty {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-flow: column;
	display: none;
}

.text-empty-cart {
	font-size: 2em;
	line-height: 1.6;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #4f4f4f;
	font-weight: 400;
}

.text-frete {
	cursor: pointer;
	text-decoration: underline;
}

.input-caep {
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 0 .75em;
	height: 2em;
	font-size: .8em;
	border-radius: 0;
	max-width: 100%;
	width: 8em;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
	color: #333;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-frete {
	width: 3em;
	height: 1.9em;
}

.box-frete {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 9em;
	display: none;
	margin-bottom: .2em;
}

.inform-frete-none {
	display: none;
}