.container-produtc-page {
	width: 90%;
	margin: auto;
}

.main-product-page {
	width: 80%;
	height: 30em;
	margin: auto;
	margin-top: 4em;
	display: flex;
	justify-content: space-around;
}

.box-image-product-page {
	width: 38%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.image-product-page {
	width: 20em;
	height: 29em;
}

.box-details-product {
	width: 56%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 21em;
	margin-top: 2em;
}

.preco-product-page {
	display: flex;
	justify-content: space-around;
	width: 12em;
}

.name-product-page {
	font-size: 1.2em;
	margin: 0;
	letter-spacing: 1px;
	font-weight: 600;
	width: 20em;
	font-family: Oswald, sans-serif;
	color: #446084;
}

.preco-cheio {
	text-decoration: line-through;
	font-size: 1.2em;
	color: #BDBDBD;
	opacity: .9;
}

.preco-final {
	color: #000;
	font-size: 1.3em;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
}

.ref-product-page {
	text-transform: uppercase;
	font-size: .8em;
	font-family: "Lato", sans-serif;
	color: #777;
}

.box-ref-product-page {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 6em;
	height: 1.4em;
}

.linha-produtc-ref {
	width: 5em;
	height: 2px;
}

.input-qtn-product {
	width: 6em;
	height: 3.7em;
	text-align: center;
	box-shadow: 0 0 0 2px #f1eeea inset;
	border: none;
}

.qtn-icon-input {
	display: flex;
	flex-flow: column;
	width: 2em;
	justify-content: space-between;
}

.qtn-product-page {
	display: flex;
	width: 15em;
	justify-content: space-around;
	align-items: center;
}

.icon-plus-square-o:before {
	content: "\f196";
	color: #cbc2b7;
	font-size: 1.4em;
	cursor: pointer;
}

.icon-minus-square-o:before {
	content: "\f147";
	color: #cbc2b7;
	font-size: 1.4em;
	cursor: pointer;
}

.btn-product-page {
	width: 10em;
	height: 3.5em;
}

.linha-produtc-end {
	width: 20em;
	margin: auto;
	box-sizing: border-box;
	margin: 0;
}

.icon-facebook-square:before {
	content: "\f082";
	font-size: 1.4em;
	color: #3d4c4f;
}

.icon-google-plus-square:before {
	content: "\f0d4";
	font-size: 1.4em;
	color: #3d4c4f;
}

.icon-envelope2:before {
	content: "\e903";
	font-size: 1.05em;
	background-color: #3d4c4f;
	color: white;
	border-radius: .2em;
	padding-left: .2em;
	padding-right: .2em;
	padding-bottom: .1em;
}

.icon-twitter-square:before {
	content: "\f081";
	font-size: 1.4em;
	color: #3d4c4f;
}

.title-share {
	vertical-align: middle;
	font-size: .8em;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #8a8f93;
}

.share-procut-page {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 10em;
}

.box-icon-share {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 6em;
}

.container-info-products {
	display: flex;
	width: 88%;
	margin: auto;
	margin-top: 3em;
	flex-flow: column;
}

.titles-info {
	display: flex;
	width: 29em;
	justify-content: space-between;
	height: 3em;
}

.title-info {
	display: flex;
	text-transform: uppercase;
	color: rgba(102, 102, 102, 0.85);
	font-family: "Lato", sans-serif;
	font-size: .9em;
	letter-spacing: .02em;
	font-weight: 700;
}

.box-title-info {
	display: flex;
	align-items: center;
	padding-left: 1em;
	padding-right: 1em;
	cursor: pointer;
}

.product-name-info {
	font-family: "Lato", sans-serif;
	color: #777;
	font-weight: bold;
	letter-spacing: .12em;
	text-transform: uppercase;
	width: 100%;
}

.main-titles-info {
	border-bottom: solid 1px #ded6c7;
	width: 63em;
}

.info-details-product {
	width: 100%;
	margin-top: 2em;
	padding-left: 1em;
}

.container-details-product {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: end;
	height: 35em;
	justify-content: space-around;
}

.descricao-info-datails {
	font-family: "Lato", sans-serif;
	color: #777;
	letter-spacing: .11em;
	font-size: .9em;
}

.product-page-main {
	border-top: 1px solid #ececec;
	padding-top: 3em;
	margin-top: 4em;
	width: 100%;
}

.extra-details {
	display: flex;
	width: 40%;
	display: none;
	margin-left: 2em;
	margin-top: 2em;
}

.review {
	width: 96%;
	height: 32em;
	border: 2px solid #446084;
	margin: auto;
	display: none;
	margin-top: 2em;
}

.container-review {
	display: flex;
    flex-flow: column;
    width: 90%;
    height: 27em;
    margin: auto;
    margin-top: 2em;
    justify-content: space-between;
    align-items: flex-start;
}

.review-titles {
	color: #212121;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Lato", sans-serif;
}

.container-user-review {
	width: 100%;
	display: flex;
}

.name-user-review {
    display: flex;
    width: 50%;
    flex-flow: column;
    height: 4em;
    justify-content: space-around;}

.input-review-user {
	box-shadow: 0 0 5px #ccc;
    outline: 0;
    color: #333;
    background-color: #fff;
    width: 31.8em;
    height: 2em;
    border: 1px solid #ddd;
}

.review-text{
	border: 1px solid #ddd;
    box-shadow: 0 0 5px #ccc;
    height: 7.7em;
    width: 100%;
}

.text-area{
	border: none;
}

